<div class="order_details">
	<li><strong>Payment Id :</strong><%=@order.payment_id%></li>
	<li><strong>Product Name : </strong><%=@order.product.title%></li>
	<li><strong>Order Amount : </strong><%=@order.price%></li>
	<li><strong>Order Status : </strong><%=@order.status%></li>
</div>