@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.product
{
  margin: auto;
    width: 40%;
    border:2px solid #73AD21;
    padding: 10px;
    margin: 100px 150px 100px 400px;
}

.order_details
{
  margin: auto;
    width: 40%;
    border:2px solid #73AD21;
    padding: 10px;
    margin: 100px 150px 100px 400px;
}
