body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.order_details
{
  margin: auto;
    width: 40%;
    border:1px solid #000000;
    padding: 10px;
    margin: 100px 150px 100px 400px;
}

.enter_form
{
 margin: auto;
    width: 20%;
    border:2px solid #73AD21;
    padding-top: 10px;
    padding-left: 55px;
    margin-top: 100px;
    margin-left: 600px;
    
}
.actions{
  padding-top: 5px;
}